<h2>Welcome to Candy shop</h2>


<div class="row">
	<% @products.each do |p| %>
	<div class="col-md-3">
		<div>
			<%= p.title %>
		</div>

		<div>
			<img src="<%= p.path_to_image %>" />
		</div>

		<div>
			<%= p.descrition %>
		</div>

		<div>
			Size: <%= p.size %> sm
		</div>

		<div>
			Price: <%= p.price %> rub
		</div>
		<div>
		<button class="btn btn-sm btn-success" onClick="add_to_cart();">Add to cart</button>
		</div>

	</div>
	<% end %>
</div>

